@model HomeHunter.Models.BindingModels.RealEstate.CreateRealEstateBindingModel
@using HomeHunter.Models.ViewModels.City
@using HomeHunter.Models.ViewModels.RealEstateType
@using HomeHunter.Models.ViewModels.BuildingType
@using HomeHunter.Models.ViewModels.HeatingSystem
@using HomeHunter.Models.ViewModels.Neighbourhood

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="paddingElement col-md-5 col-md-offset-3">
        <br />
        <h4>Информация за имота</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group w-50 mx-auto">
                <div class="text-left">
                    <label asp-for="RealEstateType">Тип на имота</label>
                    <span asp-validation-for="RealEstateType" class="text-danger"></span>
                </div>
                <select class="custom-select" id="realEstateType" asp-for="RealEstateType">
                    <option selected disabled>-- Изберете тип на имота --</option>
                    //Add
                    @foreach (var realEstateType in (List
              <RealEstateTypeViewModel>
                  )this.ViewData["RealEstateTypes"])
                    {
                        <option>@realEstateType.TypeName</option>
                    }
                </select>
                <span asp-validation-for="RealEstateType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mx-auto">
                <div class="text-left">
                    <label asp-for="City">Град</label>
                </div>
                <select class="custom-select" id="city" asp-for="City">
                    <option selected disabled>-- Изберете град --</option>
                    //Add
                    @foreach (var city in (List<CityViewModel>)this.ViewData["Cities"])
                    {
                        <option class="@city.Name" id="@city.Name">@city.Name</option>
                    }
                </select>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group w-50 mx-auto">
                <div class="text-left">
                    <label asp-for="Neighbourhood">Квартал</label>
                </div>
                <select class="custom-select" id="Neighbourhood" name="Neighbourhood" asp-for="Neighbourhood">
                    <option selected disabled>-- Изберете квартал --</option>
                </select>
                <span asp-validation-for="Neighbourhood" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mx-auto">
                <div class="text-left">
                    <label asp-for="BuildingType">Тип на сградата</label>
                    <span asp-validation-for="BuildingType" class="text-danger"></span>
                </div>
                <select class="custom-select" id="buildingType" asp-for="BuildingType">
                    <option selected disabled>-- Изберете тип сграда --</option>
                    //Add
                    @foreach (var buildingType in (List
              <BuildingTypeViewModel>
                  )this.ViewData["BuildingTypes"])
                    {
                        <option>@buildingType.Name</option>
                    }
                </select>
                <span asp-validation-for="BuildingType" class="text-danger"></span>
            </div>

            <div class="form-group w-50 mx-auto">
                <div class="text-left">
                    <label asp-for="HeatingSystem">Вид отопление</label>
                    <span asp-validation-for="HeatingSystem" class="text-danger"></span>
                </div>
                <select class="custom-select" id="heatingSystem" asp-for="HeatingSystem">
                    <option selected disabled>-- Изберете типа отопление --</option>
                    //Add
                    @foreach (var heatingSystem in (List
              <HeatingSystemViewModel>
                  )this.ViewData["HeatingSystems"])
                    {
                        <option>@heatingSystem.Name</option>
                    }
                </select>
                <span asp-validation-for="HeatingSystem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <input asp-for="FloorNumber" class="form-control" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingTotalFloors" class="control-label"></label>
                <input asp-for="BuildingTotalFloors" class="form-control" />
                <span asp-validation-for="BuildingTotalFloors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="ParkingPlace" key="ParkingPlace" name="ParkingPlace" /><strong> Паркомясто</strong>
                </label>
                <span asp-validation-for="ParkingPlace" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="Yard" key="Yard" name="Yard" /><strong> Двор</strong>
                </label>
                <span asp-validation-for="Yard" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="MetroNearBy" key="MetroNearBy" name="MetroNearBy" /><strong> Достъп до метро</strong>
                </label>
                <span asp-validation-for="MetroNearBy" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="balcony" name="Balcony" key="Balcony" /><strong> Тераса</strong>
                </label>
                <span asp-validation-for="Balcony" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="CellingOrBasement" key="CellingOrBasement" name="CellingOrBasement" /><strong> Мазе/Таванско помещение</strong>
                </label>
                <span asp-validation-for="CellingOrBasement" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Продължи" class="btn btn-primary" />
            </div>
        </form>

        <p>Полетата със * са задължителни!</p>

        <div class=" container">
            <a asp-area="Administrator" asp-controller="Home" asp-action="Index"><strong>Назад</strong></a>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[key]').change(function () {
                var key = $(this).attr('key');
                $($('[name="CellingOrBasement"]')).val($(this).is(':checked') ? 'true' : 'false');
            });
        });
        $(document).ready(function () {
            $('[key]').change(function () {
                var key = $(this).attr('key');
                $($('[name="Balcony"]')).val($(this).is(':checked') ? 'true' : 'false');
            });
        });
        $(document).ready(function () {
            $('[key]').change(function () {
                var key = $(this).attr('key');
                $($('[name="MetroNearBy"]')).val($(this).is(':checked') ? 'true' : 'false');
            });
        });
        $(document).ready(function () {
            $('[key]').change(function () {
                var key = $(this).attr('key');
                $($('[name="Yard"]')).val($(this).is(':checked') ? 'true' : 'false');
            });
        });
        $(document).ready(function () {
            $('[key]').change(function () {
                var key = $(this).attr('key');
                $($('[name="ParkingPlace"]')).val($(this).is(':checked') ? 'true' : 'false');
            });
        });
    </script>

    <script type="text/javascript">
        //Insert default item "Select" in dropdownlist on load
        $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $("#Neighbourhood").html(items);
        });

        //Bind City dropdownlist
        $("#city").change(function () {
            var cityName = $("#city").val();

            var url = "/RealEstates/GetNeighbourhoodsList";

            $.getJSON(url, { CityName: cityName }, function (data) {
                var item = "";
                $("#Neighbourhood").empty();
                $.each(data, function (i, Neighbourhood) {

                    item += '<option>' + Neighbourhood.text + '</option>'
                });
                $("#Neighbourhood").html(item);
            });


        });
    </script>
}






