@model IEnumerable<HomeHunter.Domain.RealEstate>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingTotalFloors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingPlace)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Yard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetroNearBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CellingOrBasement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealEstateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FloorNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingTotalFloors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetroNearBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balcony)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellingOrBasement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeatingSystem.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealEstateType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildingType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
