@model IEnumerable<HomeHunter.Models.ViewModels.Offer.OfferIndexViewModel>
@using HomeHunter.Common

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="index-table-container paddingElement">
    <h3>Активни обяви</h3>
    <p>
        <a asp-action="Create" asp-controller="RealEstates">Създай нова обява</a>
    </p>

    <table class="table table-fixed table-responsive-md hover-table">
        <thead>
            <tr>
                <th class="col-md-1">
                    No
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.ReferenceNumber)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.OfferType)
                </th>
                <th class="col-md-2">
                    @Html.DisplayNameFor(model => model.RealEstateType)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Neighbourhood)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="col-md-1">
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th class="col-md-2">
                    Действия
                </th>

            </tr>
        </thead>
        @{int index = 1;

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td class="col-md-1">
                        @(index++)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.ReferenceNumber)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.OfferType)
                    </td>
                    <td class="col-md-2">
                        @Html.DisplayFor(modelItem => item.RealEstateType)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Neighbourhood)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="col-md-1">
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td class="col-md-2">
                        <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                    </td>
                </tr>
                }
            </tbody>
        }
    </table>
</div>

